/* Referenzen.module.css */
.referenzen-body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh; /* Stelle sicher, dass der Body den gesamten Viewport einnimmt */
}

.referenzen * {
    box-sizing: border-box;
}

.referenzen h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
}

.referenzen p {
    font-family: sans-serif;
    text-align: center;
}


.referenzen .world.map {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.referenzen .world.map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.referenzen .pin {
    background: #479dc1;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}

.referenzen .pin::before {
    content: '';
    background: #479dc1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}

.referenzen .pin span {
    display: inline-block;
    white-space: normal;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: #cae5f1;
    border-radius: 3em;
    padding: 0.8em 2em;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    pointer-events: none;
    width: auto;
    min-width: 350px;
    max-width: 1500px;
    word-wrap: break-word;
}

.referenzen .pin:hover span {
    opacity: 1;
}

.referenzen .Deutschland {
    top: 41%;
    left: 49%;
}

.referenzen .Saudi {
    top: 52%;
    left: 58%;
}

.referenzen .Indien {
    top: 54%;
    left: 68%;
}

.referenzen .Thailand {
    top: 55%;
    left: 73.5%;
}

@keyframes pulse {
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}

@media screen and (max-width: 600px) {
    .referenzen .world.map {
        font-size: 13px;
    }
    .referenzen .pin span {
        padding: 0.4em 1em;
        font-size: 0.6em;
    }
}

.referenzen .buttonContainer {
    display: flex;
    justify-content: center;
}